<div class="content">
    <div class="row">
     
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                                
                            <div class="card-body">
                            <a routerLink="/vans">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib text-dark">
                                        <i class="fa fas fa-eye"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading text-dark mt-3">Ver Vans</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                             <a routerLink="/vans/create">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib text-dark">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading text-dark mt-3">Adicionar Vans</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                            <a routerLink="/vans/marcas">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib text-dark">
                                        <i class="fa fa-truck text-primary"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading text-dark mt-3">Marcas de Vans</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                             <a routerLink="/vans/modelos">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib text-dark">
                                        <i class="fa fa-car text-primary"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading text-dark mt-3">Modelos de Vans</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>