<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <!--
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count">23569</span></div>
                                    <div class="stat-heading">Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">3435</span></div>
                                    <div class="stat-heading">Sales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">349</span></div>
                                    <div class="stat-heading">Templates</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">2986</span></div>
                                    <div class="stat-heading">Clients</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
        <!-- /Widgets -->
        <!-- /To Do and Live Chat -->
        <!-- Calender Chart Weather  -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-page">Escala de Motoristas</h1>
            </div>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <td width="10px" class="">Dia</td>
                            <td class="">Motoristas</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                           
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/t2cdzg4/Domingos-Antonio-Alberto-2.jpg" class="rounded-circle" width="25px" height="25px">Domingos Alberto</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                               
                           </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                               
                           </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/NF2mRD8/Conde-Manuel-Afonso-2.jpg" class="rounded-circle" width="25px" height="25px">Conde Afonso</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/d70x0nr/Antonio-Francisco-Simao-Ribeiro-2.jpg" class="rounded-circle" width="25px" height="25px">Antonio Francisco Ribeiro</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/NNMW4Qn/Antonio-Adriano-2.jpg" class="rounded-circle" width="25px" height="25px">Antonio Adriano</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                                 </td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                                </td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/DQY5MyV/Tito-Castelo-2.jpg" class="rounded-circle" width="25px" height="25px">Tito Castelo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/kxjpswm/Albano-Benza-Futa-2.jpg" class="rounded-circle" width="25px" height="25px">Albano Futa</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/7grchf0/Valente-Jose-Manuel-Hongolo-2.jpg" class="rounded-circle" width="25px" height="25px">Valente Hongolo</span>
                                    <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span>
                                </td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>
                                <span><span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/vmWxBj9/Agostinho-Domingos-Marta-2.jpg" class="rounded-circle" width="25px" height="25px">Agostinho Marta</span>
                                <span class="calendar-motorista px-2 mx-2 bg-white"><img src="https://i.ibb.co/6gVxGP4/Sebastiao-Mamona-2.jpg" class="rounded-circle" width="25px" height="25px">Sebastiao Mamona</span></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- /#add-category -->
    </div>
    <!-- .animated -->
</div>