<footer>
  <section class="container">
    <div class="col-m-3">
      <a  href="www.jupiter.co.ao" target="blank"  class="logo-footer"><img src="assets/img/logo-jupiter.png"></a>
    </div>
    <div class="col-m-3 align-self-start">
      <h3>Onde estamos</h3>
      <p> Rua dos Generais, Condomínio das Mangueirinhas, SN, Morro Bento
        Luanda | Angola.</p>
    </div>
    <div class="col-m-3 align-self-start">
      <h3>Contacto-Logistica</h3>
      <p>912 060 208/ 923 234 702</p>
      <p>923 429 719/ 922 769 248</p>
      <p>993 009 136</p>
    </div>
    <div class="col-m-3">
      <a  routerLink="/"  class="logo-footer"><img src="assets/img/Carro-logo.png"></a>

    </div>
    <div class="col-12">
      <hr />
      <p  class="jcolor-secondary text-center footer-copyright">Copyright &copy; Boleia 2020 Todos os direitos reservados</p>
    </div>
  </section>

</footer>
