<footer>
  <section class="container">
    <div class="col-m-2">
      <a href="www.jupiter.co.ao" target="blank" class="logo-footer"><img src="assets/img/logo-jupiter.png"></a>
    </div>
    <div class="col-m-3">
      <h3>Onde estamos</h3>
      <p> Rua dos Generais, Condomínio das Mangueirinhas, SN, Morro Bento
        Luanda | Angola.</p>
    </div>
    <div class="col-m-4">
      <h3>Contacto Logística</h3>
      <p>
        Cambala - 912 060 208<br/>
        Francisco Diniz - 923 429 719<br />
        Orlando Mendes -  993 009 136
      </p>
    </div>
    <div class="col-m-3">
      <a routerLink="/" class="logo-footer"><img src="assets/img/Carro-logo.png"></a>
    </div>
    <div class="col-12">
      <hr />
      <p class="jcolor-secondary text-center footer-copyright">
        Copyright© Boleia 2020 - Todos os direitos reservados
      </p>
    </div>
  </section>

</footer>
