<section class="mt-4 jbg-sinza pb-5">

    <div class="container pb-5">
        <div class="h1 jcolor-primary  col-12 py-5 text-center ">Vans</div>

        <div *ngIf="loading; else mostravans">
            <app-loading [mensagem]="mensagem"></app-loading>
        </div>

        <ng-template #mostravans>
            <div *ngIf="vans; else elseBlock" class="">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

                    <div ngxSlickItem *ngFor="let slide of vans" class="slide col-md-4">
                        <div class="card-vans">
                            <header class="card-vans-header pt-4">
                                <img src="{{ enderecoIMG }}/uploads/vans/{{ slide.imagem }}" alt="" width="100%" style="height:120px">
                            </header>
                            <section class="card-body text-center">
                                <h2 class="texto-centro h5">{{ slide.modelo.marca.nome }}</h2>
                                <h2 class="texto-centro h5">{{ slide.modelo.nome }}</h2>

                                <p *ngIf="slide.matricula" class="texto-centro">{{ slide.matricula }}</p>
                                <p *ngFor="let xcontactos of slide.contactos">
                                    <i class="fas fa-phone-alt icon-pequeno"></i> {{ xcontactos.contacto }}
                                </p>
                            </section>
                        </div>

                    </div>


                </ngx-slick-carousel>
            </div>

            <ng-template #elseBlock>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h1 class="h1 text-center jcolor-secondary mt-5 pt-5">Não Existem vans disponíves!</h1>

                    </div>
                </div>

            </ng-template>

        </ng-template>



    </div>

</section>









<!--Carousel Wrapper-->

<!--/.Carousel Wrapper-->