<div class="content">
<div class="row">
 
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                            
                        <div class="card-body">
                        <a routerLink="/funcionarios">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="fa fas fa-eye"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <!-- <div class="stat-text"><span class="count"></span></div> -->
                                        <div class="mt-3 stat-heading text-dark">Ver Funcionarios</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                         <a routerLink="/funcionarios/create">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="mt-1 stat-heading text-dark">Adicionar Funcionarios</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="content">
  
        <router-outlet></router-outlet>

</div>




















