<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div *ngIf="!loading">
    <h3 class="title-page text-dark" style="margin-top: -60px;">Todas as Vans</h3>
    <div class="row animated fadeIn">
        <div class="card-group">
          <h5 class="alert text-danger" *ngIf="!van.length">Não existe Van cadastrada</h5>
            <div *ngFor="let v of van" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="card--img">
                        <img class="card-img-top" src="{{api_path}}uploads/vans/{{v.imagem}}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title ">{{v.modelo.marca.nome}}</h5>
                        <p class="card-subtitle">{{v.modelo.nome}}</p>
                        <strong>{{v.matricula}}</strong>
                        <p class="card-text">{{v.descricao}}</p>
                    </div>
                    <div class="card-footer bg-warning">
                        <a [routerLink]="['list', v.id]" class="btn btn-primary" class="btn btn-block">Detalhes da Van</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
