<app-menu></app-menu>

  <!--- fim do header -->
<div class="section-app">
    <!--Baixar os aplicativos-->
    <div class="container">
      <div class="row  mt-5 justify-content-center">
        <!--Testo esquerdo-->
        <div class="col-sm-12 col-md-6 text-left row flex-column justify-content-center">
          <div class="row flex-column align-items-around setion-app-block-text">

            <h2 class="h1 text-sm-left text-md-left section-app-title">O aplicativo do Boleia Jupiter</h2>
            <p class=" h5 text-sm-center text-md-left mt-4 mb-5">
              Foi popularizada nos anos 60 com a disponibilização das folhas de
              Letraset,
              que continham passagens com Lorem Ipsum, e mais recentemente com
            </p>
            <div>   
              <button href="#" class="btn btn-primary-theme-vermelho btn-semi-round link ml-1">
                <i class="fab fa-apple"></i> Baixar
              </button>
              <button href="#" class="btn btn-android btn-primary-theme btn-semi-round mr-1 ">
                <i class="fab fa-android"></i>Baixar</button>
            </div>

          </div>

        </div>
        <div class="col-sm-12 col-md-4">
          <div class="row justify-content-center">
            <img style=" margin-top: -38px;  height: 650px; margin-bottom: -25px;  margin-right: -44px;" class="mobile-img" src="./../../../assets/img/mockup_boleia.png" />
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="col-12 jbg-white ">
    <p  class="jcolor-secondary text-center footer-copyright pt-4">Copyright &copy; Boleia 2020 Todos os direitos reservados</p>
  </div>





