.login-logo {
    margin-top: 10%;
}
.login-logo img { width: 50% !important;}

.sufee-login{
    background-image: url('./../../../assets/images/bg.png');
    background-color: rgba(255, 255, 255, .4);
    background-blend-mode: overlay;
    /* background-image: url('./../../../assets/images/bg.png'); */
    height: 100vh;
}

.input_login{
    border-radius: 5px !important;
}