$primary: #eeb902;
$primary-alpha: rgba(238, 185, 2, .5);
$primary-dark: rgb(216, 169, 7);

$secondary: rgba(255, 255, 255, 1);
$secondary-alpha: rgba(255, 255, 255, .5);

$tertiary: rgba(238, 185, 2, 1);
$tertiary-alpha: rgba(238, 185, 2, .5);


$fourth: rgba(59, 58, 59, 1) ;
$fourth-alpha: rgba(59, 58, 59, .5) ;
$fourth-dark: rgba(54, 53, 54, 1) ;